/part03-Part03_26.LineByLine/target/
/part03-Part03_05.LastInList/target/
/part03-Part03_15.PrintInRange/target/
/part03-Part03_21.PrintNeatly/target/
/part03-Part03_31.NameOfTheOldest/target/
/part03-Part03_01.ThirdElement/target/
/part03-Part03_24.IsItTrue/target/
/part03-Part03_12.SumOfAList/target/
/part03-Part03_29.LastWords/target/
/part03-Part03_28.FirstWords/target/
/part03-Part03_27.AVClub/target/
/part03-Part03_19.IndexWasNotFound/target/
/part03-Part03_02.SecondPlusThird/target/
/part03-Part03_13.AverageOfAList/target/
/part03-Part03_07.RememberTheseNumbers/target/
/part03-Part03_11.IndexOfSmallest/target/
/part03-Part03_30.AgeOfTheOldest/target/
/part03-Part03_23.PrintThrice/target/
/part03-Part03_17.RemoveLast/target/
/part03-Part03_16.Sum/target/
/part03-Part03_10.IndexOf/target/
/part03-Part03_04.ListSize/target/
/part03-Part03_06.FirstAndLast/target/
/part03-Part03_20.SumOfArray/target/
/part03-Part03_22.PrintInStars/target/
/part03-Part03_18.Swap/target/
/part03-Part03_08.OnlyTheseNumbers/target/
/part03-Part03_14.OnTheList/target/
/part03-Part03_09.GreatestInList/target/
/part03-Part03_25.Login/target/
/part03-Part03_03.IndexOutOfBoundsException/target/
/part03-Part03_32.PersonalDetails/target/
